<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Movie Night Invitation</title>
</head>
<body>
<div itemscope itemtype="http://schema.org/Event">
	<meta itemprop="name" content="{{.Winner.Movie.Title}}"/>
	<meta itemprop="startDate" content="{{.Winner.Showtime.UTC.Format "2006-01-02T15:04:05Z"}}"/>
	<meta itemprop="endDate" content="{{.WinnerEnd.UTC.Format "2006-01-02T15:04:05Z"}}"/>
	<meta itemprop="description" content="{{.Winner.Movie.Plot}}"/>
	<meta itemprop="image" content="{{.Winner.Movie.Poster}}"/>
	<meta itemprop="url" content="http://www.imdb.com/title/{{.Winner.Movie.Imdb}}"/>
	<meta itemprop="duration" content="{{.Winner.Movie.Runtime}}"/>
	<meta itemprop="typicalAgeRange" content="{{.Winner.Movie.Rated}}"/>
	<div itemprop="location" itemscope itemtype="http://schema.org/Place">
		<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
			<meta itemprop="name" content="Megaplex Theatres Thanksgiving Point"/>
			<meta itemprop="streetAddress" content="{{.Winner.Address}}"/>
			<meta itemprop="addressRegion" content="UT"/>
			<meta itemprop="addressCountry" content="USA"/>
		</div>
	</div>
	<div itemprop="potentialAction" itemscope itemtype="http://schema.org/RsvpAction">
		<div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
			<link itemprop="url" href="{{.UrlPre}}callback/rsvp?userId={{.User.Id}}&showtimeId={{.Winner.Id}}&hmac={{.Hmac}}&value=ACCEPT"/>
		</div>
		<link itemprop="attendance" href="http://schema.org/RsvpAttendance/Yes"/>
	</div>
	<div itemprop="potentialAction" itemscope itemtype="http://schema.org/RsvpAction">
		<div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
			<link itemprop="url" href="{{.UrlPre}}callback/rsvp?userId={{.User.Id}}&showtimeId={{.Winner.Id}}&hmac={{.Hmac}}&value=DECLINE"/>
		</div>
		<link itemprop="attendance" href="http://schema.org/RsvpAttendance/No"/>
	</div>
	<div itemprop="potentialAction" itemscope itemtype="http://schema.org/RsvpAction">
		<div itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
			<link itemprop="url" href="{{.UrlPre}}callback/rsvp?userId={{.User.Id}}&showtimeId={{.Winner.Id}}&hmac={{.Hmac}}&value=TENATIVE"/>
		</div>
		<link itemprop="attendance" href="http://schema.org/RsvpAttendance/Maybe"/>
	</div>
</div>
<h1>Movie Night is now official, see you at the theatre!</h1>
<p>The winning movie was {{.Winner.Movie.Title}} at {{.Winner.Showtime.Local.Format "3:04PM"}} in {{.Winner.Screen}} with {{.Winner.Votes}}</p>
<p>{{.Winner.Movie.Plot}}</p>
<div>
	<p>RSVP: <a href="{{.UrlPre}}callback/rsvp?userId={{.User.Id}}&showtimeId={{.Winner.Id}}&hmac={{.Hmac}}&value=ACCEPT">Yes</a></p>
	<p>RSVP: <a href="{{.UrlPre}}callback/rsvp?userId={{.User.Id}}&showtimeId={{.Winner.Id}}&hmac={{.Hmac}}&value=DECLINE">No</a></p>
	<p>RSVP: <a href="{{.UrlPre}}callback/rsvp?userId={{.User.Id}}&showtimeId={{.Winner.Id}}&hmac={{.Hmac}}&value=TENATIVE">Maybe</a></p>
</div>
<p>Click <a href="{{.UrlPre}}">here</a> to change your notification preferences or unsubscribe</p>
<p>Visit <a href="https://beta.megaplextheatres.com{{.Winner.BuyTicketsLink}}">megaplex</a> to purchase tickets</p>
<p>Any complaints about the stylistic simplicity of this email? <a href="http://motherfuckingwebsite.com/">Learn more here</a></p>
</body>
</html>
