<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Movie Night Activity Update</title>
</head>
<body>
<p>New Activity! {{.Voter.Name}} has voted.</p>
<p>They voted for:</p>
<ul>
{{range .Votes}}
	<li>{{.Vote}} for {{.Showtime.Local.Format "3:04PM"}}</li>
{{end}}
</ul>
<p>The current standings:</p>
<ol>
{{range .Standings}}
	<li>{{.Movie.Title}} @ {{.Showtime.Local.Format "3:04PM"}} in {{.Screen}} with {{.Votes}} votes</li>
{{end}}
</ol>
<p>Make sure you get your votes in. Click <a href="{{.UrlPre}}vote">here</a> to vote.</p>
<p>Click <a href="{{.UrlPre}}vote">here</a> to change your notification preferences or unsubscribe</p>
<p>Any complaints about the stylistic simplicity of this email? <a href="http://motherfuckingwebsite.com/">Learn more here</a></p>
</body>
</html>
