<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>$5 Movie Night</title>
</head>
<body>
<p>Hello, {{.User.Name}}</p>

<p>Here are the options for showtimes this week.</p>
<p>You have 6 points, with the max for any given showtime being 3 points. Enter your points below and then hit submit when you are finished</p>
<p>The idea is that your first pick could have 3 votes, your second pick 2, and third 1.</p>
<p>Any movies that have a score of -3 (3 downvotes, no upvotes) will no longer show as voteable by others.</p>
<p>Once everyone has voted the highest voted movie will be the choice and will lock before the showtime</p>
<form action="vote" method="post">
{{range .Showtimes}}
<article>
	<p><a href="http://www.imdb.com/title/{{.Movie.Imdb}}"><img src="{{.Movie.Poster}}" alt="{{.Movie.Title}}" height="75" width="35"/></a>
	<span>{{.Showtime.Local.Format "3:04PM" }}: </span>
	<span> {{.Movie.Title}}</span>
	<span> in {{.Screen}}</span>
	<span> currently has {{.Votes}} votes.</span>
	<input type="number" name="{{.Id}}" value="{{.Vote}}" min="-1" max="3" step="1"/>
	<a href="http://www.megaplextheatres.com{{.PreviewSeatsLink}}">
		<img src="./api/preview?showtimeid={{.Id}}" alt="preview image"/>
		Preview Seats
	</a>
	<a href="http://www.megaplextheatres.com{{.BuyTicketsLink}}">Buy Tickets</a>
	</p>
</article>
{{else}}
<p>No Showtimes!</p>
{{end}}
<input type="submit" value="Vote"/>
</form>
<form action="prefs" method="post">
	<p><input type="checkbox" name="weekly" value="true"{{if .User.WeeklyNotification}} checked{{end}}/> Weekly Notification</p>
	<p><input type="checkbox" name="lock" value="true"{{if .User.LockNotification}} checked{{end}}/> Calendar Notification</p>
	<p><input type="checkbox" name="activity" value="true"{{if .User.ActivityNotification}} checked{{end}}/> Activity Notification</p>
	<p>GiftCard:<input type="text" name="giftcard" value="{{.User.GiftCard}}"/></p>
	<p>RewardCard:<input type="text" name="rewardcard" value="{{.User.RewardCard}}"/></p>
	<p>Zip:<input type="text" name="zip" value="{{.User.Zip}}"/></p>
<input type="submit" value="Update Settings"/>
</form>
<p>Any complaints about the stylistic simplicity of this site? <a href="http://motherfuckingwebsite.com/">Learn more here</a></p>
</body>
</html>
